[Desktop Entry]
Type=Application
Version=1.0
Name=OpenTTD
Icon=${SNAP}/meta/gui/openttd.png
Exec=openttd-casept.openttd %u
Terminal=false
Categories=Game;
Comment=A clone of Transport Tycoon Deluxe
Keywords=game;simulation;transport;tycoon;deluxe;economics;multiplayer;money;train;ship;bus;truck;aircraft;cargo;
